.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 20%;
}
.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.operators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

