html {
background: #212121;
}

body{
    margin: 20px auto;
    font-size: xx-large;
    width: 40%;
    min-width: min-content;

}

.rounds{
    font-size: small;
    font-family: monospace;
    font-weight: bold;
    color: rgb(108, 108, 109);
}
.calculator {
    background: #d2d6e7;
    padding: 10px;
    border-radius: 4px;
    border:rgb(44, 90, 121);
    caret-color: transparent; 
}

.display {
    color: rgb(44, 90, 121);
    background-color: rgb(244, 244, 244);
    font-weight: bold;
    font-family: sans-serif;
    height: 50px;
    border-radius: 5px;
    text-align: right;
    padding: 4px 3px;
    margin: 3px;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.display::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.display {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

button {
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: medium;
    color: rgb(44, 90, 121);
    font-family: sans-serif;
    height: 50px;
    font-size: xx-large;

}

button:hover {
    opacity: 0.8;
    font-family: sans-serif;
    cursor: pointer;
}

.operator {
    background-color: rgb(11, 164, 116);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

[id="="] {
    background-color: rgb(244, 232, 6);
    color: rgb(255, 255, 255);
    grid-area: 5 / 1 / 5 / 5;
    aspect-ratio: revert;
}

[id="C"] {
    background-color: rgb(244, 6, 6);
    color: rgb(255, 255, 255);
}

[id="."] {
    background-color: rgb(55, 137, 191);
}